/.settings/
.project
.classpath
/target/

*/logs/
*/target/
*/.settings/
*/.project
*/.classpath
*/.springBeans



.idea
.gradle
*/*.iml
*.class
*.jar
*.war
*.ear
*.iml
build
*.pdb
~*
target
yegaoyangCode/
*/VERSION.properties
*.orig
